# **1. Datasets Utilizados**

In [1]:
# Instalar PySpark via pip
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [8]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("satvshr/top-4-used-car-sales-datasets-combined")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Downloading from https://www.kaggle.com/api/v1/datasets/download/satvshr/top-4-used-car-sales-datasets-combined?dataset_version_number=2...

100%|██████████| 446k/446k [00:00<00:00, 73.7MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2

In [3]:
# Iniciar uma Sessão Spark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ExemploPySpark") \
    .getOrCreate()

## **2. Comparando métodos do pandas x métodos do PySpark**

**Leitura de Dados:**

In [13]:
import pandas as pd
import os

for dirname, _, filenames in os.walk(path):
    for filename in filenames:
        if filename.endswith('.csv'):
            csv_file_path = os.path.join(dirname, filename)
            print(f"Reading CSV file: {csv_file_path}")
            df = pd.read_csv(csv_file_path)
            print(df.head())
            break

Reading CSV file: /root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv
      brand     model transmission  age    fuel  engine       km  owner  \
0  mahindra      thar       manual  4.0  diesel  2184.0  11003.0    1.0
1   hyundai     verna       manual  6.0  petrol  1591.0  66936.0    1.0
2      tata   harrier       manual  2.0  diesel  1956.0  27990.0    1.0
3     honda      city    automatic  1.0  petrol  1498.0   5061.0    1.0
4      ford  ecosport       manual  3.0  diesel  1498.0  23480.0    1.0

       price location  mileage  power  seats type
0  1231000.0      NaN      NaN    NaN    NaN  NaN
1   786000.0      NaN      NaN    NaN    NaN  NaN
2  1489000.0      NaN      NaN    NaN    NaN  NaN
3  1227000.0      NaN      NaN    NaN    NaN  NaN
4   887000.0      NaN      NaN    NaN    NaN  NaN

In [19]:
from pyspark.sql import SparkSession
import os

spark = SparkSession.builder.appName("CSVReader").getOrCreate()

for dirname, _, filenames in os.walk(path):
  for filename in filenames:
    if filename.endswith(".csv"):
      csv_file_path = os.path.join(dirname, filename)
      print(f"Reading CSV file: {csv_file_path}")

      df_pyspark = spark.read.csv(csv_file_path, header=True, inferSchema=True)

      df_pyspark.show(5)

      break

Reading CSV file: /root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv
+--------+--------+------------+---+------+------+-------+-----+---------+--------+-------+-----+-----+----+
|   brand|   model|transmission|age|  fuel|engine|     km|owner|    price|location|mileage|power|seats|type|
+--------+--------+------------+---+------+------+-------+-----+---------+--------+-------+-----+-----+----+
|mahindra|    thar|      manual|4.0|diesel|2184.0|11003.0|  1.0|1231000.0|    NULL|   NULL| NULL| NULL|NULL|
| hyundai|   verna|      manual|6.0|petrol|1591.0|66936.0|  1.0| 786000.0|    NULL|   NULL| NULL| NULL|NULL|
|    tata| harrier|      manual|2.0|diesel|1956.0|27990.0|  1.0|1489000.0|    NULL|   NULL| NULL| NULL|NULL|
|   honda|    city|   automatic|1.0|petrol|1498.0| 5061.0|  1.0|1227000.0|    NULL|   NULL| NULL| NULL|NULL|
|    ford|ecosport|      manual|3.0|diesel|1498.0|23480.0|  1.0| 887000.0|    NULL|   NULL| NULL| NULL|NULL|
+--------+--------+------------+---+------+------+-------+-----+---------+--------+-------+-----+-----+----+
only showing top 5 rows

In [25]:
# Filtrando colunas com Pandas
selected_columns_pandas = df[['brand', 'fuel']]
selected_columns_pyspark.show()

+--------+------+
|   brand|  fuel|
+--------+------+
|mahindra|diesel|
| hyundai|petrol|
|    tata|diesel|
|   honda|petrol|
|    ford|diesel|
|   honda|petrol|
|    tata|petrol|
|    tata|diesel|
|mahindra|diesel|
|    ford|petrol|
|  maruti|petrol|
| hyundai|petrol|
|    tata|petrol|
| hyundai|petrol|
|  maruti|petrol|
| hyundai|diesel|
|  maruti|petrol|
|   honda|petrol|
|     kia|diesel|
| hyundai|petrol|
+--------+------+
only showing top 20 rows

In [26]:
# Filtrando colunas com PySpark
selected_columns_pyspark = df_pyspark.select('brand', 'fuel')
selected_columns_pyspark.show()

+--------+------+
|   brand|  fuel|
+--------+------+
|mahindra|diesel|
| hyundai|petrol|
|    tata|diesel|
|   honda|petrol|
|    ford|diesel|
|   honda|petrol|
|    tata|petrol|
|    tata|diesel|
|mahindra|diesel|
|    ford|petrol|
|  maruti|petrol|
| hyundai|petrol|
|    tata|petrol|
| hyundai|petrol|
|  maruti|petrol|
| hyundai|diesel|
|  maruti|petrol|
|   honda|petrol|
|     kia|diesel|
| hyundai|petrol|
+--------+------+
only showing top 20 rows

In [29]:
# Filtrando dados com Pandas
tata_cars_pandas = df[df['brand'] == 'tata']
print(tata_cars_pandas.head())

expensive_cars_pandas = df[df['price'] > 10000]
print(expensive_cars_pandas.head())

# Filtrando linhas com múltiplas condições
tata_expensive_cars_pandas = df[(df['brand'] == 'tata') & (df['price'] > 10000)]
print(tata_expensive_cars_pandas.head())

   brand    model transmission  age    fuel  engine       km  owner  \
2   tata  harrier       manual  2.0  diesel  1956.0  27990.0    1.0
6   tata    punch       manual  2.0  petrol  1199.0    450.0    1.0
7   tata    nexon    automatic  4.0  diesel     NaN  59866.0    1.0
12  tata    tiago       manual  1.0  petrol  1199.0   6676.0    1.0
21  tata    tigor       manual  1.0  petrol  1199.0  12096.0    1.0

        price location  mileage  power  seats type
2   1489000.0      NaN      NaN    NaN    NaN  NaN
6    813000.0      NaN      NaN    NaN    NaN  NaN
7    728000.0      NaN      NaN    NaN    NaN  NaN
12   536000.0      NaN      NaN    NaN    NaN  NaN
21   590000.0      NaN      NaN    NaN    NaN  NaN
      brand     model transmission  age    fuel  engine       km  owner  \
0  mahindra      thar       manual  4.0  diesel  2184.0  11003.0    1.0
1   hyundai     verna       manual  6.0  petrol  1591.0  66936.0    1.0
2      tata   harrier       manual  2.0  diesel  1956.0  27990.0    1.0
3     honda      city    automatic  1.0  petrol  1498.0   5061.0    1.0
4      ford  ecosport       manual  3.0  diesel  1498.0  23480.0    1.0

       price location  mileage  power  seats type
0  1231000.0      NaN      NaN    NaN    NaN  NaN
1   786000.0      NaN      NaN    NaN    NaN  NaN
2  1489000.0      NaN      NaN    NaN    NaN  NaN
3  1227000.0      NaN      NaN    NaN    NaN  NaN
4   887000.0      NaN      NaN    NaN    NaN  NaN
   brand    model transmission  age    fuel  engine       km  owner  \
2   tata  harrier       manual  2.0  diesel  1956.0  27990.0    1.0
6   tata    punch       manual  2.0  petrol  1199.0    450.0    1.0
7   tata    nexon    automatic  4.0  diesel     NaN  59866.0    1.0
12  tata    tiago       manual  1.0  petrol  1199.0   6676.0    1.0
21  tata    tigor       manual  1.0  petrol  1199.0  12096.0    1.0

        price location  mileage  power  seats type
2   1489000.0      NaN      NaN    NaN    NaN  NaN
6    813000.0      NaN      NaN    NaN    NaN  NaN
7    728000.0      NaN      NaN    NaN    NaN  NaN
12   536000.0      NaN      NaN    NaN    NaN  NaN
21   590000.0      NaN      NaN    NaN    NaN  NaN

In [30]:
# Filtrando dados com PySpark
tata_cars_pyspark = df_pyspark.filter(df_pyspark['brand'] == 'honda')
tata_cars_pyspark.show()

expensive_cars_pyspark = df_pyspark.filter(df_pyspark['price'] > 10000)
expensive_cars_pyspark.show()

# Filtrando linhas com múltiplas condições
tata_expensive_cars_pyspark = df_pyspark.filter((df_pyspark['brand'] == 'honda') & (df_pyspark['price'] > 10000))
tata_expensive_cars_pyspark.show()

+-----+-----+------------+---+------+------+--------+-----+---------+--------+-------+-----+-----+----+
|brand|model|transmission|age|  fuel|engine|      km|owner|    price|location|mileage|power|seats|type|
+-----+-----+------------+---+------+------+--------+-----+---------+--------+-------+-----+-----+----+
|honda| city|   automatic|1.0|petrol|1498.0|  5061.0|  1.0|1227000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| wr-v|      manual|3.0|petrol|1199.0| 44787.0|  1.0| 796000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|2.0|petrol|1199.0| 15935.0|  1.0| 699000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|   automatic|7.0|petrol|1497.0| 65434.0|  2.0| 787000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|   automatic|7.0|petrol|1497.0| 74671.0|  1.0| 832000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|   automatic|8.0|petrol|1497.0| 61033.0|  2.0| 572000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|4.0|petrol|1199.0| 48004.0|  2.0| 493000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|3.0|petrol|1498.0| 28398.0|  1.0|1078000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|4.0|petrol|1199.0| 52036.0|  1.0| 573000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|3.0|petrol|1498.0|  5404.0|  1.0|1251000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|7.0|petrol|1497.0| 78608.0|  1.0| 578000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| jazz|      manual|8.0|petrol|1199.0| 79166.0|  1.0| 382000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|8.0|petrol|1497.0| 72308.0|  1.0| 523000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|6.0|petrol|1199.0| 27051.0|  1.0| 515000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|9.0|petrol|1198.0| 91116.0|  2.0| 320000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|   automatic|1.0|petrol|1199.0|  8376.0|  1.0| 816000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|7.0|petrol|1497.0|102835.0|  1.0| 608000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|5.0|petrol|1199.0| 37864.0|  1.0| 543000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|   automatic|7.0|petrol|1497.0| 42012.0|  1.0| 814000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|7.0|petrol|1497.0|115810.0|  1.0| 583000.0|    NULL|   NULL| NULL| NULL|NULL|
+-----+-----+------------+---+------+------+--------+-----+---------+--------+-------+-----+-----+----+
only showing top 20 rows

+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+
|   brand|   model|transmission| age|  fuel|engine|     km|owner|    price|location|mileage|power|seats|type|
+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+
|mahindra|    thar|      manual| 4.0|diesel|2184.0|11003.0|  1.0|1231000.0|    NULL|   NULL| NULL| NULL|NULL|
| hyundai|   verna|      manual| 6.0|petrol|1591.0|66936.0|  1.0| 786000.0|    NULL|   NULL| NULL| NULL|NULL|
|    tata| harrier|      manual| 2.0|diesel|1956.0|27990.0|  1.0|1489000.0|    NULL|   NULL| NULL| NULL|NULL|
|   honda|    city|   automatic| 1.0|petrol|1498.0| 5061.0|  1.0|1227000.0|    NULL|   NULL| NULL| NULL|NULL|
|    ford|ecosport|      manual| 3.0|diesel|1498.0|23480.0|  1.0| 887000.0|    NULL|   NULL| NULL| NULL|NULL|
|   honda|    wr-v|      manual| 3.0|petrol|1199.0|44787.0|  1.0| 796000.0|    NULL|   NULL| NULL| NULL|NULL|
|    tata|   punch|      manual| 2.0|petrol|1199.0|  450.0|  1.0| 813000.0|    NULL|   NULL| NULL| NULL|NULL|
|    tata|   nexon|   automatic| 4.0|diesel|  NULL|59866.0|  1.0| 728000.0|    NULL|   NULL| NULL| NULL|NULL|
|mahindra|  xuv700|   automatic| 2.0|diesel|2184.0|62567.0|  1.0|2322000.0|    NULL|   NULL| NULL| NULL|NULL|
|    ford|ecosport|   automatic| 5.0|petrol|1497.0|58503.0|  1.0| 766000.0|    NULL|   NULL| NULL| NULL|NULL|
|  maruti|   dzire|      manual| 6.0|petrol|1197.0|58159.0|  1.0| 471000.0|    NULL|   NULL| NULL| NULL|NULL|
| hyundai|   grand|      manual| 1.0|petrol|1197.0|15568.0|  1.0| 689000.0|    NULL|   NULL| NULL| NULL|NULL|
|    tata|   tiago|      manual| 1.0|petrol|1199.0| 6676.0|  1.0| 536000.0|    NULL|   NULL| NULL| NULL|NULL|
| hyundai|   creta|      manual| 6.0|petrol|  NULL|59085.0|  1.0| 823000.0|    NULL|   NULL| NULL| NULL|NULL|
|  maruti|    alto|      manual| 6.0|petrol| 998.0|52966.0|  1.0| 310000.0|    NULL|   NULL| NULL| NULL|NULL|
| hyundai|   verna|      manual| 4.0|diesel|1582.0|60592.0|  1.0| 993000.0|    NULL|   NULL| NULL| NULL|NULL|
|  maruti|    alto|   automatic|10.0|petrol| 998.0|71297.0|  1.0| 265000.0|    NULL|   NULL| NULL| NULL|NULL|
|   honda|   amaze|      manual| 2.0|petrol|1199.0|15935.0|  1.0| 699000.0|    NULL|   NULL| NULL| NULL|NULL|
|     kia|  seltos|      manual| 3.0|diesel|1493.0|71040.0|  1.0| 980000.0|    NULL|   NULL| NULL| NULL|NULL|
| hyundai|   grand|      manual| 1.0|petrol|1197.0| 2850.0|  1.0| 710000.0|    NULL|   NULL| NULL| NULL|NULL|
+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+
only showing top 20 rows

+-----+-----+------------+---+------+------+--------+-----+---------+--------+-------+-----+-----+----+
|brand|model|transmission|age|  fuel|engine|      km|owner|    price|location|mileage|power|seats|type|
+-----+-----+------------+---+------+------+--------+-----+---------+--------+-------+-----+-----+----+
|honda| city|   automatic|1.0|petrol|1498.0|  5061.0|  1.0|1227000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| wr-v|      manual|3.0|petrol|1199.0| 44787.0|  1.0| 796000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|2.0|petrol|1199.0| 15935.0|  1.0| 699000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|   automatic|7.0|petrol|1497.0| 65434.0|  2.0| 787000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|   automatic|7.0|petrol|1497.0| 74671.0|  1.0| 832000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|   automatic|8.0|petrol|1497.0| 61033.0|  2.0| 572000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|4.0|petrol|1199.0| 48004.0|  2.0| 493000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|3.0|petrol|1498.0| 28398.0|  1.0|1078000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|4.0|petrol|1199.0| 52036.0|  1.0| 573000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|3.0|petrol|1498.0|  5404.0|  1.0|1251000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|7.0|petrol|1497.0| 78608.0|  1.0| 578000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| jazz|      manual|8.0|petrol|1199.0| 79166.0|  1.0| 382000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|8.0|petrol|1497.0| 72308.0|  1.0| 523000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|6.0|petrol|1199.0| 27051.0|  1.0| 515000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|9.0|petrol|1198.0| 91116.0|  2.0| 320000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|   automatic|1.0|petrol|1199.0|  8376.0|  1.0| 816000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|7.0|petrol|1497.0|102835.0|  1.0| 608000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda|amaze|      manual|5.0|petrol|1199.0| 37864.0|  1.0| 543000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|   automatic|7.0|petrol|1497.0| 42012.0|  1.0| 814000.0|    NULL|   NULL| NULL| NULL|NULL|
|honda| city|      manual|7.0|petrol|1497.0|115810.0|  1.0| 583000.0|    NULL|   NULL| NULL| NULL|NULL|
+-----+-----+------------+---+------+------+--------+-----+---------+--------+-------+-----+-----+----+
only showing top 20 rows

In [33]:
# Agregação com Pandas
# Por marca e calcular a média do preço
mean_price_by_brand_pandas = df.groupby('brand')['price'].mean()
print(mean_price_by_brand_pandas)

# Por marca e contar o número de carros
count_cars_by_brand_pandas = df.groupby('brand')['brand'].count()
print(count_cars_by_brand_pandas)

brand
ambassador       1.350000e+05
audi             2.278768e+06
bentley          5.550000e+06
bmw              2.520764e+06
chevrolet        3.044463e+05
datsun           3.232446e+05
fiat             3.269286e+05
force            8.750000e+05
ford             6.626805e+05
honda            6.034868e+05
hyundai          5.712369e+05
isuzu            1.464923e+06
jaguar           2.879663e+06
jeep             1.688935e+06
kia              1.333359e+06
land             3.618103e+06
land rover       3.633041e+06
lexus            4.829444e+06
mahindra         8.335125e+05
maruti           4.942791e+05
maserati         6.100000e+06
mercedes-amg     5.100000e+06
mercedes-benz    2.445811e+06
mg               1.587085e+06
mini             2.489233e+06
mitsubishi       1.105889e+06
nissan           5.568022e+05
porsche          4.457939e+06
renault          4.980811e+05
skoda            7.823020e+05
smart            3.000000e+05
tata             6.824418e+05
toyota           1.210682e+06
volkswagen       5.506835e+05
volvo            2.509872e+06
Name: price, dtype: float64
brand
ambassador           1
audi               427
bentley              2
bmw                694
chevrolet          121
datsun             327
fiat                28
force                4
ford              1329
honda             3198
hyundai           6757
isuzu               13
jaguar              95
jeep                77
kia                213
land                58
land rover          49
lexus                9
mahindra          1550
maruti           10561
maserati             2
mercedes-amg         1
mercedes-benz      641
mg                  59
mini                43
mitsubishi          27
nissan             204
porsche             33
renault           1233
skoda              614
smart                1
tata              1206
toyota            1413
volkswagen        1170
volvo               39
Name: brand, dtype: int64

In [32]:
# Agregação com PySpark
# Por marca e calcular a média do preço
mean_price_by_brand_pyspark = df_pyspark.groupBy('brand').agg({'price': 'avg'})
mean_price_by_brand_pyspark.show()

# Por marca e contar o número de carros
count_cars_by_brand_pyspark = df_pyspark.groupBy('brand').count()
count_cars_by_brand_pyspark.show()

+----------+------------------+
|     brand|        avg(price)|
+----------+------------------+
|    jaguar|2879663.1578947366|
|land rover|3633040.8163265307|
|  mahindra| 833512.5161290322|
|      tata| 682441.7910447761|
|mitsubishi| 1105888.888888889|
|     lexus| 4829444.444444444|
|      NULL|          976000.0|
|    toyota| 1210682.059447983|
|        mg|1587084.7457627119|
|      audi| 2278768.149882904|
|    datsun| 323244.6483180428|
|       bmw| 2520763.688760807|
|      jeep|1688935.0649350649|
|   bentley|         5550000.0|
|     skoda| 782302.0358306189|
|   hyundai| 571236.9320704455|
|      ford| 662680.5492851768|
|    maruti|494279.10235773126|
|ambassador|          135000.0|
|       kia|1333359.3896713615|
+----------+------------------+
only showing top 20 rows

+----------+-----+
|     brand|count|
+----------+-----+
|    jaguar|   95|
|land rover|   49|
|  mahindra| 1550|
|      tata| 1206|
|mitsubishi|   27|
|     lexus|    9|
|      NULL|    1|
|    toyota| 1413|
|        mg|   59|
|      audi|  427|
|    datsun|  327|
|       bmw|  694|
|      jeep|   77|
|   bentley|    2|
|     skoda|  614|
|   hyundai| 6757|
|      ford| 1329|
|    maruti|10561|
|ambassador|    1|
|       kia|  213|
+----------+-----+
only showing top 20 rows

In [34]:
# Junções (Joins) com Pandas
df2 = pd.DataFrame({'brand': ['tata', 'honda', 'maruti'], 'origin': ['India', 'Japan', 'India']})

# Inner Join
merged_df_pandas = pd.merge(df, df2, on='brand', how='inner')
print(merged_df_pandas.head())

# Left Join
merged_df_pandas = pd.merge(df, df2, on='brand', how='left')
print(merged_df_pandas.head())

# Right Join
merged_df_pandas = pd.merge(df, df2, on='brand', how='right')
print(merged_df_pandas.head())

# Outer Join
merged_df_pandas = pd.merge(df, df2, on='brand', how='outer')
print(merged_df_pandas.head())

   brand    model transmission  age    fuel  engine       km  owner  \
0   tata  harrier       manual  2.0  diesel  1956.0  27990.0    1.0
1  honda     city    automatic  1.0  petrol  1498.0   5061.0    1.0
2  honda     wr-v       manual  3.0  petrol  1199.0  44787.0    1.0
3   tata    punch       manual  2.0  petrol  1199.0    450.0    1.0
4   tata    nexon    automatic  4.0  diesel     NaN  59866.0    1.0

       price location  mileage  power  seats type origin
0  1489000.0      NaN      NaN    NaN    NaN  NaN  India
1  1227000.0      NaN      NaN    NaN    NaN  NaN  Japan
2   796000.0      NaN      NaN    NaN    NaN  NaN  Japan
3   813000.0      NaN      NaN    NaN    NaN  NaN  India
4   728000.0      NaN      NaN    NaN    NaN  NaN  India
      brand     model transmission  age    fuel  engine       km  owner  \
0  mahindra      thar       manual  4.0  diesel  2184.0  11003.0    1.0
1   hyundai     verna       manual  6.0  petrol  1591.0  66936.0    1.0
2      tata   harrier       manual  2.0  diesel  1956.0  27990.0    1.0
3     honda      city    automatic  1.0  petrol  1498.0   5061.0    1.0
4      ford  ecosport       manual  3.0  diesel  1498.0  23480.0    1.0

       price location  mileage  power  seats type origin
0  1231000.0      NaN      NaN    NaN    NaN  NaN    NaN
1   786000.0      NaN      NaN    NaN    NaN  NaN    NaN
2  1489000.0      NaN      NaN    NaN    NaN  NaN  India
3  1227000.0      NaN      NaN    NaN    NaN  NaN  Japan
4   887000.0      NaN      NaN    NaN    NaN  NaN    NaN
  brand    model transmission  age    fuel  engine       km  owner      price  \
0  tata  harrier       manual  2.0  diesel  1956.0  27990.0    1.0  1489000.0
1  tata    punch       manual  2.0  petrol  1199.0    450.0    1.0   813000.0
2  tata    nexon    automatic  4.0  diesel     NaN  59866.0    1.0   728000.0
3  tata    tiago       manual  1.0  petrol  1199.0   6676.0    1.0   536000.0
4  tata    tigor       manual  1.0  petrol  1199.0  12096.0    1.0   590000.0

  location  mileage  power  seats type origin
0      NaN      NaN    NaN    NaN  NaN  India
1      NaN      NaN    NaN    NaN  NaN  India
2      NaN      NaN    NaN    NaN  NaN  India
3      NaN      NaN    NaN    NaN  NaN  India
4      NaN      NaN    NaN    NaN  NaN  India
        brand    model transmission   age    fuel  engine       km  owner  \
0  ambassador  classic       manual  21.0  diesel  1489.0  80000.0    3.0
1        audi       a4    automatic  11.0  diesel  1968.0  40670.0    2.0
2        audi       a6    automatic   9.0  petrol  1984.0  55985.0    1.0
3        audi       a6    automatic  14.0  diesel  2698.0  35000.0    1.0
4        audi       a4    automatic   9.0  diesel  1968.0  13648.0    1.0

       price    location  mileage   power  seats type origin
0   135000.0     chennai    12.80   35.50    5.0  NaN    NaN
1  1774000.0  coimbatore    15.20  140.80    5.0  NaN    NaN
2  2350000.0      mumbai    13.53  177.01    5.0  NaN    NaN
3  1150000.0     kolkata    12.40  179.50    5.0  NaN    NaN
4  2143000.0       kochi    17.11  174.33    5.0  NaN    NaN

In [35]:
# Junções (Joins) com PySpark
# Convertendo o DataFrame Pandas para DataFrame PySpark
df2_pyspark = spark.createDataFrame(df2)

# Inner Join
merged_df_pyspark = df_pyspark.join(df2_pyspark, 'brand', 'inner')
merged_df_pyspark.show()

# Left Join
merged_df_pyspark = df_pyspark.join(df2_pyspark, 'brand', 'left')
merged_df_pyspark.show()

# Right Join
merged_df_pyspark = df_pyspark.join(df2_pyspark, 'brand', 'right')
merged_df_pyspark.show()

# Outer Join
merged_df_pyspark = df_pyspark.join(df2_pyspark, 'brand', 'outer')
merged_df_pyspark.show()

+-----+---------+------------+---+------+------+-------+-----+---------+-------------+-------+-----+-----+---------+------+
|brand|    model|transmission|age|  fuel|engine|     km|owner|    price|     location|mileage|power|seats|     type|origin|
+-----+---------+------------+---+------+------+-------+-----+---------+-------------+-------+-----+-----+---------+------+
| tata|    tigor|      manual|2.0|petrol|  NULL|82009.0|  2.0| 392000.0|  maharashtra|   NULL| NULL|  5.0|    sedan| India|
| tata|    tiago|      manual|3.0|petrol|  NULL| 5288.0|  1.0| 623000.0|  maharashtra|   NULL| NULL|  5.0|hatchback| India|
| tata|  harrier|   automatic|3.0|diesel|  NULL|64784.0|  1.0|1986000.0|  maharashtra|   NULL| NULL|  5.0|      suv| India|
| tata|    tiago|   automatic|3.0|petrol|  NULL|15606.0|  2.0| 785000.0|    telangana|   NULL| NULL|  5.0|hatchback| India|
| tata|    tigor|   automatic|4.0|petrol|  NULL|16841.0|  1.0|1012000.0|  maharashtra|   NULL| NULL|  5.0|    sedan| India|
| tata|tiago nrg|      manual|5.0|petrol|  NULL|84133.0|  1.0| 499000.0|  maharashtra|   NULL| NULL|  5.0|hatchback| India|
| tata|    punch|      manual|2.0|petrol|  NULL| 3348.0|  1.0| 810000.0|   tamil nadu|   NULL| NULL|  5.0|      suv| India|
| tata|   altroz|      manual|4.0|petrol|  NULL|22143.0|  1.0| 740000.0|      haryana|   NULL| NULL|  5.0|hatchback| India|
| tata|    nexon|      manual|6.0|diesel|  NULL|72855.0|  1.0| 773000.0|   tamil nadu|   NULL| NULL|  5.0|      suv| India|
| tata|    tigor|      manual|2.0|petrol|  NULL|45237.0|  2.0| 440000.0|    karnataka|   NULL| NULL|  5.0|    sedan| India|
| tata|    tiago|   automatic|6.0|petrol|  NULL|40534.0|  2.0| 567000.0|    telangana|   NULL| NULL|  5.0|hatchback| India|
| tata|    tigor|      manual|6.0|petrol|  NULL|43401.0|  1.0| 601000.0|    telangana|   NULL| NULL|  5.0|    sedan| India|
| tata|    tiago|   automatic|6.0|petrol|  NULL|41363.0|  1.0| 543000.0|    karnataka|   NULL| NULL|  5.0|hatchback| India|
| tata|    tiago|      manual|8.0|petrol|  NULL|46138.0|  1.0| 418000.0|    telangana|   NULL| NULL|  5.0|hatchback| India|
| tata|    tiago|      manual|3.0|petrol|  NULL|15897.0|  1.0| 627000.0|    telangana|   NULL| NULL|  5.0|hatchback| India|
| tata|    tiago|      manual|5.0|petrol|  NULL|37419.0|  1.0| 533000.0|   tamil nadu|   NULL| NULL|  5.0|hatchback| India|
| tata|    tiago|      manual|5.0|petrol|  NULL|63190.0|  1.0| 431000.0|uttar pradesh|   NULL| NULL|  5.0|hatchback| India|
| tata|    nexon|      manual|3.0|diesel|  NULL|32324.0|  1.0| 951000.0|       punjab|   NULL| NULL|  5.0|      suv| India|
| tata|    punch|   automatic|3.0|petrol|  NULL|24354.0|  1.0| 839000.0|   tamil nadu|   NULL| NULL|  5.0|      suv| India|
| tata|    tiago|      manual|8.0|petrol|  NULL|86617.0|  1.0| 413000.0|        delhi|   NULL| NULL|  5.0|hatchback| India|
+-----+---------+------------+---+------+------+-------+-----+---------+-------------+-------+-----+-----+---------+------+
only showing top 20 rows

+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+------+
|   brand|   model|transmission| age|  fuel|engine|     km|owner|    price|location|mileage|power|seats|type|origin|
+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+------+
|mahindra|    thar|      manual| 4.0|diesel|2184.0|11003.0|  1.0|1231000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
|mahindra|  xuv700|   automatic| 2.0|diesel|2184.0|62567.0|  1.0|2322000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
|    tata| harrier|      manual| 2.0|diesel|1956.0|27990.0|  1.0|1489000.0|    NULL|   NULL| NULL| NULL|NULL| India|
|    tata|   punch|      manual| 2.0|petrol|1199.0|  450.0|  1.0| 813000.0|    NULL|   NULL| NULL| NULL|NULL| India|
|    tata|   nexon|   automatic| 4.0|diesel|  NULL|59866.0|  1.0| 728000.0|    NULL|   NULL| NULL| NULL|NULL| India|
|    tata|   tiago|      manual| 1.0|petrol|1199.0| 6676.0|  1.0| 536000.0|    NULL|   NULL| NULL| NULL|NULL| India|
|      mg|  hector|   automatic| 2.0|petrol|1451.0|26999.0|  1.0|1652000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
| hyundai|   verna|      manual| 6.0|petrol|1591.0|66936.0|  1.0| 786000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
| hyundai|   grand|      manual| 1.0|petrol|1197.0|15568.0|  1.0| 689000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
| hyundai|   creta|      manual| 6.0|petrol|  NULL|59085.0|  1.0| 823000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
| hyundai|   verna|      manual| 4.0|diesel|1582.0|60592.0|  1.0| 993000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
| hyundai|   grand|      manual| 1.0|petrol|1197.0| 2850.0|  1.0| 710000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
|    ford|ecosport|      manual| 3.0|diesel|1498.0|23480.0|  1.0| 887000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
|    ford|ecosport|   automatic| 5.0|petrol|1497.0|58503.0|  1.0| 766000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
|  maruti|   dzire|      manual| 6.0|petrol|1197.0|58159.0|  1.0| 471000.0|    NULL|   NULL| NULL| NULL|NULL| India|
|  maruti|    alto|      manual| 6.0|petrol| 998.0|52966.0|  1.0| 310000.0|    NULL|   NULL| NULL| NULL|NULL| India|
|  maruti|    alto|   automatic|10.0|petrol| 998.0|71297.0|  1.0| 265000.0|    NULL|   NULL| NULL| NULL|NULL| India|
|     kia|  seltos|      manual| 3.0|diesel|1493.0|71040.0|  1.0| 980000.0|    NULL|   NULL| NULL| NULL|NULL|  NULL|
|   honda|    city|   automatic| 1.0|petrol|1498.0| 5061.0|  1.0|1227000.0|    NULL|   NULL| NULL| NULL|NULL| Japan|
|   honda|    wr-v|      manual| 3.0|petrol|1199.0|44787.0|  1.0| 796000.0|    NULL|   NULL| NULL| NULL|NULL| Japan|
+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+------+
only showing top 20 rows

+-----+---------+------------+---+------+------+-------+-----+---------+-------------+-------+-----+-----+---------+------+
|brand|    model|transmission|age|  fuel|engine|     km|owner|    price|     location|mileage|power|seats|     type|origin|
+-----+---------+------------+---+------+------+-------+-----+---------+-------------+-------+-----+-----+---------+------+
| tata|    tigor|      manual|2.0|petrol|  NULL|82009.0|  2.0| 392000.0|  maharashtra|   NULL| NULL|  5.0|    sedan| India|
| tata|    tiago|      manual|3.0|petrol|  NULL| 5288.0|  1.0| 623000.0|  maharashtra|   NULL| NULL|  5.0|hatchback| India|
| tata|  harrier|   automatic|3.0|diesel|  NULL|64784.0|  1.0|1986000.0|  maharashtra|   NULL| NULL|  5.0|      suv| India|
| tata|    tiago|   automatic|3.0|petrol|  NULL|15606.0|  2.0| 785000.0|    telangana|   NULL| NULL|  5.0|hatchback| India|
| tata|    tigor|   automatic|4.0|petrol|  NULL|16841.0|  1.0|1012000.0|  maharashtra|   NULL| NULL|  5.0|    sedan| India|
| tata|tiago nrg|      manual|5.0|petrol|  NULL|84133.0|  1.0| 499000.0|  maharashtra|   NULL| NULL|  5.0|hatchback| India|
| tata|    punch|      manual|2.0|petrol|  NULL| 3348.0|  1.0| 810000.0|   tamil nadu|   NULL| NULL|  5.0|      suv| India|
| tata|   altroz|      manual|4.0|petrol|  NULL|22143.0|  1.0| 740000.0|      haryana|   NULL| NULL|  5.0|hatchback| India|
| tata|    nexon|      manual|6.0|diesel|  NULL|72855.0|  1.0| 773000.0|   tamil nadu|   NULL| NULL|  5.0|      suv| India|
| tata|    tigor|      manual|2.0|petrol|  NULL|45237.0|  2.0| 440000.0|    karnataka|   NULL| NULL|  5.0|    sedan| India|
| tata|    tiago|   automatic|6.0|petrol|  NULL|40534.0|  2.0| 567000.0|    telangana|   NULL| NULL|  5.0|hatchback| India|
| tata|    tigor|      manual|6.0|petrol|  NULL|43401.0|  1.0| 601000.0|    telangana|   NULL| NULL|  5.0|    sedan| India|
| tata|    tiago|   automatic|6.0|petrol|  NULL|41363.0|  1.0| 543000.0|    karnataka|   NULL| NULL|  5.0|hatchback| India|
| tata|    tiago|      manual|8.0|petrol|  NULL|46138.0|  1.0| 418000.0|    telangana|   NULL| NULL|  5.0|hatchback| India|
| tata|    tiago|      manual|3.0|petrol|  NULL|15897.0|  1.0| 627000.0|    telangana|   NULL| NULL|  5.0|hatchback| India|
| tata|    tiago|      manual|5.0|petrol|  NULL|37419.0|  1.0| 533000.0|   tamil nadu|   NULL| NULL|  5.0|hatchback| India|
| tata|    tiago|      manual|5.0|petrol|  NULL|63190.0|  1.0| 431000.0|uttar pradesh|   NULL| NULL|  5.0|hatchback| India|
| tata|    nexon|      manual|3.0|diesel|  NULL|32324.0|  1.0| 951000.0|       punjab|   NULL| NULL|  5.0|      suv| India|
| tata|    punch|   automatic|3.0|petrol|  NULL|24354.0|  1.0| 839000.0|   tamil nadu|   NULL| NULL|  5.0|      suv| India|
| tata|    tiago|      manual|8.0|petrol|  NULL|86617.0|  1.0| 413000.0|        delhi|   NULL| NULL|  5.0|hatchback| India|
+-----+---------+------------+---+------+------+-------+-----+---------+-------------+-------+-----+-----+---------+------+
only showing top 20 rows

+----------+-------+------------+----+------+------+-------+-----+------------------+----------+-------+------+-----+-----+------+
|     brand|  model|transmission| age|  fuel|engine|     km|owner|             price|  location|mileage| power|seats| type|origin|
+----------+-------+------------+----+------+------+-------+-----+------------------+----------+-------+------+-----+-----+------+
|      NULL|   NULL|   automatic|NULL|petrol|  NULL|13794.0|  1.0|          976000.0|     delhi|   NULL|  NULL|  5.0|sedan|  NULL|
|ambassador|classic|      manual|21.0|diesel|1489.0|80000.0|  3.0|          135000.0|   chennai|   12.8|  35.5|  5.0| NULL|  NULL|
|      audi|     a4|   automatic|11.0|diesel|1968.0|40670.0|  2.0|1773999.9999999998|coimbatore|   15.2| 140.8|  5.0| NULL|  NULL|
|      audi|     a6|   automatic| 9.0|petrol|1984.0|55985.0|  1.0|         2350000.0|    mumbai|  13.53|177.01|  5.0| NULL|  NULL|
|      audi|     a6|   automatic|14.0|diesel|2698.0|35000.0|  1.0|         1150000.0|   kolkata|   12.4| 179.5|  5.0| NULL|  NULL|
|      audi|     a4|   automatic| 9.0|diesel|1968.0|13648.0|  1.0|         2143000.0|     kochi|  17.11|174.33|  5.0| NULL|  NULL|
|      audi|     a4|   automatic|12.0|diesel|1968.0|65664.0|  1.0|         1350000.0|    jaipur|  16.55| 140.0|  5.0| NULL|  NULL|
|      audi|     a6|   automatic|10.0|diesel|1968.0|56000.0|  2.0|         2950000.0|     delhi|  18.53|187.74|  5.0| NULL|  NULL|
|      audi|     a6|   automatic| 6.0|diesel|1968.0|48367.0|  1.0|         3958000.0|coimbatore|  17.68|174.33|  5.0| NULL|  NULL|
|      audi|     a4|   automatic|14.0|diesel|2967.0|30000.0|  1.0| 980000.0000000001|   kolkata|  14.94| 241.4|  5.0| NULL|  NULL|
|      audi|    rs5|   automatic|11.0|petrol|2894.0|23000.0|  1.0|         3700000.0|    mumbai|  11.05| 444.0|  4.0| NULL|  NULL|
|      audi|     a4|   automatic| 9.0|diesel|1968.0|48214.0|  1.0|         2332000.0|coimbatore|  17.11|174.33|  5.0| NULL|  NULL|
|      audi|     a6|   automatic|12.0|diesel|1968.0|62500.0|  2.0|         1900000.0|    mumbai|  17.68|174.33|  5.0| NULL|  NULL|
|      audi|     a6|   automatic|10.0|diesel|1968.0|40000.0|  1.0|         2295000.0|    mumbai|  17.68|174.33|  5.0| NULL|  NULL|
|      audi|     q3|   automatic| 9.0|diesel|1968.0|64103.0|  1.0|1989999.9999999998|     delhi|  15.73|174.33|  5.0| NULL|  NULL|
|      audi|     a8|   automatic|12.0|diesel|2967.0|56000.0|  1.0|         4500000.0|     delhi|   11.8| 246.7|  5.0| NULL|  NULL|
|      audi|     q7|   automatic| 6.0|diesel|2967.0|11287.0|  1.0|         7036000.0|     kochi|  12.07| 241.4|  7.0| NULL|  NULL|
|      audi|     a6|   automatic| 9.0|diesel|1968.0|31652.0|  1.0|         2678000.0|     kochi|  17.68|174.33|  5.0| NULL|  NULL|
|      audi|     a6|   automatic|10.0|diesel|1968.0|61726.0|  1.0|         2077000.0|     kochi|  17.68|174.33|  5.0| NULL|  NULL|
|      audi|     a6|   automatic|10.0|diesel|1968.0|51495.0|  1.0|         2195000.0|     kochi|  17.68|174.33|  5.0| NULL|  NULL|
+----------+-------+------------+----+------+------+-------+-----+------------------+----------+-------+------+-----+-----+------+
only showing top 20 rows

In [40]:
# Novas colunas com Pandas
df['nova_coluna_pandas'] = df['price'] * 2
print(df.head())

df['combinando_coluna_pandas'] = df['brand'] + '-' + df['fuel']
print(df.head())

      brand     model transmission  age    fuel  engine       km  owner  \
0  mahindra      thar       manual  4.0  diesel  2184.0  11003.0    1.0
1   hyundai     verna       manual  6.0  petrol  1591.0  66936.0    1.0
2      tata   harrier       manual  2.0  diesel  1956.0  27990.0    1.0
3     honda      city    automatic  1.0  petrol  1498.0   5061.0    1.0
4      ford  ecosport       manual  3.0  diesel  1498.0  23480.0    1.0

       price location  mileage  power  seats type  new_column_pandas  \
0  1231000.0      NaN      NaN    NaN    NaN  NaN          2462000.0
1   786000.0      NaN      NaN    NaN    NaN  NaN          1572000.0
2  1489000.0      NaN      NaN    NaN    NaN  NaN          2978000.0
3  1227000.0      NaN      NaN    NaN    NaN  NaN          2454000.0
4   887000.0      NaN      NaN    NaN    NaN  NaN          1774000.0

  combined_column_pandas  nova_coluna_pandas combinando_coluna_pandas
0        mahindra-diesel           2462000.0          mahindra-diesel
1         hyundai-petrol           1572000.0           hyundai-petrol
2            tata-diesel           2978000.0              tata-diesel
3           honda-petrol           2454000.0             honda-petrol
4            ford-diesel           1774000.0              ford-diesel
      brand     model transmission  age    fuel  engine       km  owner  \
0  mahindra      thar       manual  4.0  diesel  2184.0  11003.0    1.0
1   hyundai     verna       manual  6.0  petrol  1591.0  66936.0    1.0
2      tata   harrier       manual  2.0  diesel  1956.0  27990.0    1.0
3     honda      city    automatic  1.0  petrol  1498.0   5061.0    1.0
4      ford  ecosport       manual  3.0  diesel  1498.0  23480.0    1.0

       price location  mileage  power  seats type  new_column_pandas  \
0  1231000.0      NaN      NaN    NaN    NaN  NaN          2462000.0
1   786000.0      NaN      NaN    NaN    NaN  NaN          1572000.0
2  1489000.0      NaN      NaN    NaN    NaN  NaN          2978000.0
3  1227000.0      NaN      NaN    NaN    NaN  NaN          2454000.0
4   887000.0      NaN      NaN    NaN    NaN  NaN          1774000.0

  combined_column_pandas  nova_coluna_pandas combinando_coluna_pandas
0        mahindra-diesel           2462000.0          mahindra-diesel
1         hyundai-petrol           1572000.0           hyundai-petrol
2            tata-diesel           2978000.0              tata-diesel
3           honda-petrol           2454000.0             honda-petrol
4            ford-diesel           1774000.0              ford-diesel

In [41]:
# Novas colunas com PySpark
df_pyspark = df_pyspark.withColumn('nova_coluna_pyspark', df_pyspark['price'] * 2)
df_pyspark.show()

df_pyspark = df_pyspark.withColumn('combinando_coluna_pyspark', df_pyspark['brand'] + '-' + df_pyspark['fuel'])
df_pyspark.show()

+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+------------------+-----------------------+-------------------+
|   brand|   model|transmission| age|  fuel|engine|     km|owner|    price|location|mileage|power|seats|type|new_column_pyspark|combined_column_pyspark|nova_coluna_pyspark|
+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+------------------+-----------------------+-------------------+
|mahindra|    thar|      manual| 4.0|diesel|2184.0|11003.0|  1.0|1231000.0|    NULL|   NULL| NULL| NULL|NULL|         2462000.0|                   NULL|          2462000.0|
| hyundai|   verna|      manual| 6.0|petrol|1591.0|66936.0|  1.0| 786000.0|    NULL|   NULL| NULL| NULL|NULL|         1572000.0|                   NULL|          1572000.0|
|    tata| harrier|      manual| 2.0|diesel|1956.0|27990.0|  1.0|1489000.0|    NULL|   NULL| NULL| NULL|NULL|         2978000.0|                   NULL|          2978000.0|
|   honda|    city|   automatic| 1.0|petrol|1498.0| 5061.0|  1.0|1227000.0|    NULL|   NULL| NULL| NULL|NULL|         2454000.0|                   NULL|          2454000.0|
|    ford|ecosport|      manual| 3.0|diesel|1498.0|23480.0|  1.0| 887000.0|    NULL|   NULL| NULL| NULL|NULL|         1774000.0|                   NULL|          1774000.0|
|   honda|    wr-v|      manual| 3.0|petrol|1199.0|44787.0|  1.0| 796000.0|    NULL|   NULL| NULL| NULL|NULL|         1592000.0|                   NULL|          1592000.0|
|    tata|   punch|      manual| 2.0|petrol|1199.0|  450.0|  1.0| 813000.0|    NULL|   NULL| NULL| NULL|NULL|         1626000.0|                   NULL|          1626000.0|
|    tata|   nexon|   automatic| 4.0|diesel|  NULL|59866.0|  1.0| 728000.0|    NULL|   NULL| NULL| NULL|NULL|         1456000.0|                   NULL|          1456000.0|
|mahindra|  xuv700|   automatic| 2.0|diesel|2184.0|62567.0|  1.0|2322000.0|    NULL|   NULL| NULL| NULL|NULL|         4644000.0|                   NULL|          4644000.0|
|    ford|ecosport|   automatic| 5.0|petrol|1497.0|58503.0|  1.0| 766000.0|    NULL|   NULL| NULL| NULL|NULL|         1532000.0|                   NULL|          1532000.0|
|  maruti|   dzire|      manual| 6.0|petrol|1197.0|58159.0|  1.0| 471000.0|    NULL|   NULL| NULL| NULL|NULL|          942000.0|                   NULL|           942000.0|
| hyundai|   grand|      manual| 1.0|petrol|1197.0|15568.0|  1.0| 689000.0|    NULL|   NULL| NULL| NULL|NULL|         1378000.0|                   NULL|          1378000.0|
|    tata|   tiago|      manual| 1.0|petrol|1199.0| 6676.0|  1.0| 536000.0|    NULL|   NULL| NULL| NULL|NULL|         1072000.0|                   NULL|          1072000.0|
| hyundai|   creta|      manual| 6.0|petrol|  NULL|59085.0|  1.0| 823000.0|    NULL|   NULL| NULL| NULL|NULL|         1646000.0|                   NULL|          1646000.0|
|  maruti|    alto|      manual| 6.0|petrol| 998.0|52966.0|  1.0| 310000.0|    NULL|   NULL| NULL| NULL|NULL|          620000.0|                   NULL|           620000.0|
| hyundai|   verna|      manual| 4.0|diesel|1582.0|60592.0|  1.0| 993000.0|    NULL|   NULL| NULL| NULL|NULL|         1986000.0|                   NULL|          1986000.0|
|  maruti|    alto|   automatic|10.0|petrol| 998.0|71297.0|  1.0| 265000.0|    NULL|   NULL| NULL| NULL|NULL|          530000.0|                   NULL|           530000.0|
|   honda|   amaze|      manual| 2.0|petrol|1199.0|15935.0|  1.0| 699000.0|    NULL|   NULL| NULL| NULL|NULL|         1398000.0|                   NULL|          1398000.0|
|     kia|  seltos|      manual| 3.0|diesel|1493.0|71040.0|  1.0| 980000.0|    NULL|   NULL| NULL| NULL|NULL|         1960000.0|                   NULL|          1960000.0|
| hyundai|   grand|      manual| 1.0|petrol|1197.0| 2850.0|  1.0| 710000.0|    NULL|   NULL| NULL| NULL|NULL|         1420000.0|                   NULL|          1420000.0|
+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+------------------+-----------------------+-------------------+
only showing top 20 rows

+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+------------------+-----------------------+-------------------+-------------------------+
|   brand|   model|transmission| age|  fuel|engine|     km|owner|    price|location|mileage|power|seats|type|new_column_pyspark|combined_column_pyspark|nova_coluna_pyspark|combinando_coluna_pyspark|
+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+------------------+-----------------------+-------------------+-------------------------+
|mahindra|    thar|      manual| 4.0|diesel|2184.0|11003.0|  1.0|1231000.0|    NULL|   NULL| NULL| NULL|NULL|         2462000.0|                   NULL|          2462000.0|                     NULL|
| hyundai|   verna|      manual| 6.0|petrol|1591.0|66936.0|  1.0| 786000.0|    NULL|   NULL| NULL| NULL|NULL|         1572000.0|                   NULL|          1572000.0|                     NULL|
|    tata| harrier|      manual| 2.0|diesel|1956.0|27990.0|  1.0|1489000.0|    NULL|   NULL| NULL| NULL|NULL|         2978000.0|                   NULL|          2978000.0|                     NULL|
|   honda|    city|   automatic| 1.0|petrol|1498.0| 5061.0|  1.0|1227000.0|    NULL|   NULL| NULL| NULL|NULL|         2454000.0|                   NULL|          2454000.0|                     NULL|
|    ford|ecosport|      manual| 3.0|diesel|1498.0|23480.0|  1.0| 887000.0|    NULL|   NULL| NULL| NULL|NULL|         1774000.0|                   NULL|          1774000.0|                     NULL|
|   honda|    wr-v|      manual| 3.0|petrol|1199.0|44787.0|  1.0| 796000.0|    NULL|   NULL| NULL| NULL|NULL|         1592000.0|                   NULL|          1592000.0|                     NULL|
|    tata|   punch|      manual| 2.0|petrol|1199.0|  450.0|  1.0| 813000.0|    NULL|   NULL| NULL| NULL|NULL|         1626000.0|                   NULL|          1626000.0|                     NULL|
|    tata|   nexon|   automatic| 4.0|diesel|  NULL|59866.0|  1.0| 728000.0|    NULL|   NULL| NULL| NULL|NULL|         1456000.0|                   NULL|          1456000.0|                     NULL|
|mahindra|  xuv700|   automatic| 2.0|diesel|2184.0|62567.0|  1.0|2322000.0|    NULL|   NULL| NULL| NULL|NULL|         4644000.0|                   NULL|          4644000.0|                     NULL|
|    ford|ecosport|   automatic| 5.0|petrol|1497.0|58503.0|  1.0| 766000.0|    NULL|   NULL| NULL| NULL|NULL|         1532000.0|                   NULL|          1532000.0|                     NULL|
|  maruti|   dzire|      manual| 6.0|petrol|1197.0|58159.0|  1.0| 471000.0|    NULL|   NULL| NULL| NULL|NULL|          942000.0|                   NULL|           942000.0|                     NULL|
| hyundai|   grand|      manual| 1.0|petrol|1197.0|15568.0|  1.0| 689000.0|    NULL|   NULL| NULL| NULL|NULL|         1378000.0|                   NULL|          1378000.0|                     NULL|
|    tata|   tiago|      manual| 1.0|petrol|1199.0| 6676.0|  1.0| 536000.0|    NULL|   NULL| NULL| NULL|NULL|         1072000.0|                   NULL|          1072000.0|                     NULL|
| hyundai|   creta|      manual| 6.0|petrol|  NULL|59085.0|  1.0| 823000.0|    NULL|   NULL| NULL| NULL|NULL|         1646000.0|                   NULL|          1646000.0|                     NULL|
|  maruti|    alto|      manual| 6.0|petrol| 998.0|52966.0|  1.0| 310000.0|    NULL|   NULL| NULL| NULL|NULL|          620000.0|                   NULL|           620000.0|                     NULL|
| hyundai|   verna|      manual| 4.0|diesel|1582.0|60592.0|  1.0| 993000.0|    NULL|   NULL| NULL| NULL|NULL|         1986000.0|                   NULL|          1986000.0|                     NULL|
|  maruti|    alto|   automatic|10.0|petrol| 998.0|71297.0|  1.0| 265000.0|    NULL|   NULL| NULL| NULL|NULL|          530000.0|                   NULL|           530000.0|                     NULL|
|   honda|   amaze|      manual| 2.0|petrol|1199.0|15935.0|  1.0| 699000.0|    NULL|   NULL| NULL| NULL|NULL|         1398000.0|                   NULL|          1398000.0|                     NULL|
|     kia|  seltos|      manual| 3.0|diesel|1493.0|71040.0|  1.0| 980000.0|    NULL|   NULL| NULL| NULL|NULL|         1960000.0|                   NULL|          1960000.0|                     NULL|
| hyundai|   grand|      manual| 1.0|petrol|1197.0| 2850.0|  1.0| 710000.0|    NULL|   NULL| NULL| NULL|NULL|         1420000.0|                   NULL|          1420000.0|                     NULL|
+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+------------------+-----------------------+-------------------+-------------------------+
only showing top 20 rows

In [42]:
# Ordenação com Pandas
df_sorted_ascending_pandas = df.sort_values('price')
print(df_sorted_ascending_pandas.head())

df_sorted_descending_pandas = df.sort_values('price', ascending=False)
print(df_sorted_descending_pandas.head())

        brand    model transmission   age    fuel  engine        km  owner  \
16400  maruti  wagon r       manual  21.0  petrol   998.0   80000.0    NaN
4513     tata     nano       manual  13.0  petrol   624.0   65000.0    2.0
4429   maruti      800       manual  20.0  petrol   796.0   12000.0    2.0
5930   maruti      zen       manual  26.0  petrol   993.0   95150.0    3.0
22452  maruti     alto       manual  17.0  petrol   796.0  110000.0    NaN

         price location  mileage  power  seats type  new_column_pandas  \
16400  40000.0      NaN     18.9   67.1    5.0  NaN            80000.0
4513   44000.0     pune     26.0   35.0    4.0  NaN            88000.0
4429   45000.0   jaipur     16.1   37.0    4.0  NaN            90000.0
5930   45000.0   jaipur     17.3   60.0    5.0  NaN            90000.0
22452  45000.0      NaN     19.7   46.3    5.0  NaN            90000.0

      combined_column_pandas  nova_coluna_pandas combinando_coluna_pandas
16400          maruti-petrol             80000.0            maruti-petrol
4513             tata-petrol             88000.0              tata-petrol
4429           maruti-petrol             90000.0            maruti-petrol
5930           maruti-petrol             90000.0            maruti-petrol
22452          maruti-petrol             90000.0            maruti-petrol
              brand    model transmission   age    fuel  engine       km  \
6543           land    rover    automatic   9.0  diesel  2993.0  38467.0
3087           audi       q7    automatic   6.0  diesel  2967.0  11287.0
5335  mercedes-benz  e-class    automatic   6.0  diesel  2987.0  21603.0
9089     land rover    rover    automatic   3.0  petrol  1997.0  13000.0
4155           land    rover    automatic  12.0  diesel  4367.0  66538.0

      owner      price   location  mileage   power  seats type  \
6543    1.0  7066000.0      kochi    12.65  255.00    5.0  NaN
3087    1.0  7036000.0      kochi    12.07  241.40    7.0  NaN
5335    1.0  7015000.0      kochi    13.00  265.00    5.0  NaN
9089    NaN  7000000.0        NaN    12.19  237.36    4.0  NaN
4155    1.0  7000000.0  bangalore    10.20  308.00    7.0  NaN

      new_column_pandas combined_column_pandas  nova_coluna_pandas  \
6543         14132000.0            land-diesel          14132000.0
3087         14072000.0            audi-diesel          14072000.0
5335         14030000.0   mercedes-benz-diesel          14030000.0
9089         14000000.0      land rover-petrol          14000000.0
4155         14000000.0            land-diesel          14000000.0

     combinando_coluna_pandas
6543              land-diesel
3087              audi-diesel
5335     mercedes-benz-diesel
9089        land rover-petrol
4155              land-diesel

In [43]:
# Ordenação com PySpark
df_sorted_ascending_pyspark = df_pyspark.orderBy('price')
df_sorted_ascending_pyspark.show()

df_sorted_descending_pyspark = df_pyspark.orderBy('price', ascending=False)
df_sorted_descending_pyspark.show()

+-------+-------+------------+----+------+------+--------+-----+-----------------+---------+-------+-----+-----+----+------------------+-----------------------+-------------------+-------------------------+
|  brand|  model|transmission| age|  fuel|engine|      km|owner|            price| location|mileage|power|seats|type|new_column_pyspark|combined_column_pyspark|nova_coluna_pyspark|combinando_coluna_pyspark|
+-------+-------+------------+----+------+------+--------+-----+-----------------+---------+-------+-----+-----+----+------------------+-----------------------+-------------------+-------------------------+
| maruti|wagon r|      manual|21.0|petrol| 998.0| 80000.0| NULL|          40000.0|     NULL|   18.9| 67.1|  5.0|NULL|           80000.0|                   NULL|            80000.0|                     NULL|
|   tata|   nano|      manual|13.0|petrol| 624.0| 65000.0|  2.0|          44000.0|     pune|   26.0| 35.0|  4.0|NULL|           88000.0|                   NULL|            88000.0|                     NULL|
| maruti|    800|      manual|20.0|petrol| 796.0| 12000.0|  2.0|          45000.0|   jaipur|   16.1| 37.0|  4.0|NULL|           90000.0|                   NULL|            90000.0|                     NULL|
|hyundai|   getz|      manual|19.0|petrol|1341.0| 86000.0|  2.0|          45000.0|     pune|   15.3| 83.0|  5.0|NULL|           90000.0|                   NULL|            90000.0|                     NULL|
| maruti|    zen|      manual|26.0|petrol| 993.0| 95150.0|  3.0|          45000.0|   jaipur|   17.3| 60.0|  5.0|NULL|           90000.0|                   NULL|            90000.0|                     NULL|
| maruti|   alto|      manual|17.0|petrol| 796.0|110000.0| NULL|          45000.0|     NULL|   19.7| 46.3|  5.0|NULL|           90000.0|                   NULL|            90000.0|                     NULL|
|   tata|   nano|      manual|14.0|petrol| 624.0| 57000.0|  1.0|          50000.0|   jaipur|   26.0| 35.0|  4.0|NULL|          100000.0|                   NULL|           100000.0|                     NULL|
| maruti|    800|      manual|21.0|petrol| 796.0| 52000.0|  1.0|          50000.0|     pune|   16.1| 37.0|  4.0|NULL|          100000.0|                   NULL|           100000.0|                     NULL|
| maruti|   alto|      manual|19.0|petrol|1061.0|120000.0| NULL|          50000.0|     NULL|   18.9| 47.0|  5.0|NULL|          100000.0|                   NULL|           100000.0|                     NULL|
|  honda|   city|      manual|19.0|petrol|1493.0|110000.0| NULL|          50000.0|     NULL|   13.0|100.0|  5.0|NULL|          100000.0|                   NULL|           100000.0|                     NULL|
| maruti|wagon r|      manual|17.0|petrol| 998.0| 50000.0| NULL|          50000.0|     NULL|   18.9| 67.1|  5.0|NULL|          100000.0|                   NULL|           100000.0|                     NULL|
| maruti|    800|      manual|22.0|petrol| 796.0| 75000.0|  1.0|          51000.0|   jaipur|   16.1| 37.0|  4.0|NULL|          102000.0|                   NULL|           102000.0|                     NULL|
|   tata|   nano|      manual|12.0|petrol| 624.0| 80000.0|  2.0|          53000.0|   jaipur|   25.4| 37.5|  4.0|NULL|          106000.0|                   NULL|           106000.0|                     NULL|
| maruti|    zen|      manual|26.0|petrol| 993.0| 95150.0|  3.0|          53000.0|   jaipur|   17.3| 60.0|  5.0|NULL|          106000.0|                   NULL|           106000.0|                     NULL|
| maruti|wagon r|      manual|15.0|petrol| 998.0| 45000.0| NULL|          55000.0|     NULL|  21.79|67.05|  5.0|NULL|          110000.0|                   NULL|           110000.0|                     NULL|
| maruti|    800|      manual|24.0|petrol| 796.0| 78000.0|  1.0|55000.00000000001|     pune|   16.1| 37.0|  4.0|NULL|110000.00000000001|                   NULL| 110000.00000000001|                     NULL|
|   fiat|  siena|      manual|23.0|petrol|1242.0| 70000.0|  3.0|55000.00000000001|   jaipur|    0.0| NULL|  5.0|NULL|110000.00000000001|                   NULL| 110000.00000000001|                     NULL|
| maruti|    zen|      manual|22.0|petrol| 993.0| 60000.0|  3.0|55000.00000000001|   mumbai|   17.3| 60.0|  5.0|NULL|110000.00000000001|                   NULL| 110000.00000000001|                     NULL|
|   tata|    new|      manual|16.0|diesel|2179.0| 86000.0|  3.0|          60000.0|     pune|  13.93|138.0|  7.0|NULL|          120000.0|                   NULL|           120000.0|                     NULL|
|hyundai| accent|      manual|20.0|petrol|1495.0|110000.0|  1.0|          60000.0|hyderabad|   13.2| 94.0|  5.0|NULL|          120000.0|                   NULL|           120000.0|                     NULL|
+-------+-------+------------+----+------+------+--------+-----+-----------------+---------+-------+-----+-----+----+------------------+-----------------------+-------------------+-------------------------+
only showing top 20 rows

+-------------+-------+------------+----+------+------+-------+-----+-----------------+----------+-------+------+-----+----+--------------------+-----------------------+--------------------+-------------------------+
|        brand|  model|transmission| age|  fuel|engine|     km|owner|            price|  location|mileage| power|seats|type|  new_column_pyspark|combined_column_pyspark| nova_coluna_pyspark|combinando_coluna_pyspark|
+-------------+-------+------------+----+------+------+-------+-----+-----------------+----------+-------+------+-----+----+--------------------+-----------------------+--------------------+-------------------------+
|         land|  rover|   automatic| 9.0|diesel|2993.0|38467.0|  1.0|        7066000.0|     kochi|  12.65| 255.0|  5.0|NULL|            1.4132E7|                   NULL|            1.4132E7|                     NULL|
|         audi|     q7|   automatic| 6.0|diesel|2967.0|11287.0|  1.0|        7036000.0|     kochi|  12.07| 241.4|  7.0|NULL|            1.4072E7|                   NULL|            1.4072E7|                     NULL|
|mercedes-benz|e-class|   automatic| 6.0|diesel|2987.0|21603.0|  1.0|7015000.000000001|     kochi|   13.0| 265.0|  5.0|NULL|1.4030000000000002E7|                   NULL|1.4030000000000002E7|                     NULL|
|         land|  rover|   automatic|12.0|diesel|4367.0|66538.0|  1.0|        7000000.0| bangalore|   10.2| 308.0|  7.0|NULL|               1.4E7|                   NULL|               1.4E7|                     NULL|
|          bmw|     x5|   automatic| 7.0|diesel|2993.0|15000.0|  1.0|        7000000.0|   chennai|  15.97| 258.0|  5.0|NULL|               1.4E7|                   NULL|               1.4E7|                     NULL|
|   land rover|  rover|   automatic| 3.0|petrol|1997.0|13000.0| NULL|        7000000.0|      NULL|  12.19|237.36|  4.0|NULL|               1.4E7|                   NULL|               1.4E7|                     NULL|
|mercedes-benz|    gls|   automatic| 4.0|diesel|2987.0|37000.0| NULL|        7000000.0|      NULL|   11.0| 258.0|  7.0|NULL|               1.4E7|                   NULL|               1.4E7|                     NULL|
|mercedes-benz|    gls|   automatic| 3.0|petrol|2996.0|28000.0| NULL|        7000000.0|      NULL|    8.9| 333.0|  7.0|NULL|               1.4E7|                   NULL|               1.4E7|                     NULL|
|mercedes-benz|    gls|   automatic| 4.0|diesel|2987.0|32000.0| NULL|        7000000.0|      NULL|   11.0| 258.0|  7.0|NULL|               1.4E7|                   NULL|               1.4E7|                     NULL|
|        volvo|   xc90|   automatic| 2.0|diesel|1969.0|25500.0| NULL|        6975000.0|      NULL|   17.2| 235.0|  7.0|NULL|             1.395E7|                   NULL|             1.395E7|                     NULL|
|   land rover|  rover|   automatic| 2.0|diesel|1999.0|19000.0| NULL|        6975000.0|      NULL|   22.3| 177.0|  5.0|NULL|             1.395E7|                   NULL|             1.395E7|                     NULL|
|mercedes-benz|e-class|   automatic| 7.0|diesel|2987.0|15000.0|  1.0|        6950000.0|    mumbai|   13.0| 265.0|  5.0|NULL|              1.39E7|                   NULL|              1.39E7|                     NULL|
|mercedes-benz|    gls|   automatic| 3.0|petrol|2996.0|28000.0| NULL|        6950000.0|      NULL|    8.9| 333.0|  7.0|NULL|              1.39E7|                   NULL|              1.39E7|                     NULL|
|mercedes-benz|    gls|   automatic| 3.0|petrol|2996.0|10000.0| NULL|        6950000.0|      NULL|    8.9| 333.0|  7.0|NULL|              1.39E7|                   NULL|              1.39E7|                     NULL|
|          bmw|      7|   automatic| 4.0|diesel|2993.0|18000.0| NULL|        6900000.0|      NULL|  17.66|355.37|  4.0|NULL|              1.38E7|                   NULL|              1.38E7|                     NULL|
|          bmw|      6|   automatic| 6.0|diesel|2993.0|20004.0|  1.0|        6894000.0|     kochi|  17.54| 313.0|  4.0|NULL|            1.3788E7|                   NULL|            1.3788E7|                     NULL|
|         audi|     q7|   automatic| 7.0|diesel|2967.0|59500.0|  1.0|        6800000.0|      pune|  14.75| 245.0|  7.0|NULL|              1.36E7|                   NULL|              1.36E7|                     NULL|
|         audi|     q7|   automatic| 1.0|diesel|2967.0| 4000.0| NULL|        6800000.0|      NULL|  14.75| 245.0|  7.0|NULL|              1.36E7|                   NULL|              1.36E7|                     NULL|
|      porsche|cayenne|   automatic| 8.0|diesel|4134.0|65003.0|  1.0|        6783000.0|coimbatore|   13.6| 382.0|  5.0|NULL|            1.3566E7|                   NULL|            1.3566E7|                     NULL|
|          bmw|      7|   automatic| 4.0|diesel|2993.0|50000.0| NULL|        6750000.0|      NULL|  16.77|261.49|  5.0|NULL|              1.35E7|                   NULL|              1.35E7|                     NULL|
+-------------+-------+------------+----+------+------+-------+-----+-----------------+----------+-------+------+-----+----+--------------------+-----------------------+--------------------+-------------------------+
only showing top 20 rows